.calendar--add-button {
  position: relative;
  right: .2em;

  height: 3em;
}

a.add-button--small {
  position: absolute;
  right: .5em;
  bottom: 0;

  float: right;

  background-color: #f4f4f4;
}

a.add-button--small:hover {
  background-color: #c3c3c3;
}

.calendar--table td {
  display: table-cell;

  height: 200px;

  vertical-align: inherit;

  border: 1px solid #babcbf;
  background-color: white;
}

.calendar--table td:hover .add-button--small {
  display: block;
}

.calendar-header {
  position: relative;

  padding-bottom: .7em;
}
.calendar-header a {
  padding: .3em;

  color: black;
}

.calendar--table {
  padding-right: 10%;
  padding-bottom: 5%;
  padding-left: 10%;
}

tbody td:nth-child(6n) {
  background-color: #eee;
}
tbody td:nth-child(7n) {
  background-color: #eee;
}

.calendar--day-main {
  overflow: hidden;

  height: 100%;

  background-color: transparent;
}

.calendar--day-title {
  padding-top: 10px;
  padding-right: 10px;

  text-align: right;
}

.calendar-header {
  font-size: 30px;
}

.day {
  padding: 0;
}

td.day.today {
  background-color: #cde3eb;
}

.prev-month,
.next-month {
  .calendar--day-title {
    color: #acacac;
  }
}

.events {
  height: 50%;
  margin: auto;
}

ul.events--list {
  list-style: none;
}
.event {
  display: inline-block;
  float: left;

  width: 100%;
  margin: 0 0 .3em -1.4em;

  text-align: -webkit-center;

  border-radius: 10px;
}

a.event-link {
  color: #000;
}

li.event--list-item {
  text-align: center;
}
