.mdl-navigation__link {
  font-size: 17px;
}

.mdl-card {
  margin: 0 auto;

  text-align: center;
}

.mdl-card__supporting-text {
  font-size: 16px;
}

.mdl-card__title-text {
  margin: 0 auto;
}

.mdl-button--fab.add-button--small {
  display: none;

  width: 20px;
  min-width: 20px;
  height: 20px;

  font-size: 15px;
}

.tip--card.mdl-card {
  width: 20%;
  min-height: 5em;
  margin-top: 1em;
}

.tip-card {
  .mdl-card {
    width: 17%;
    min-height: 10%;
    margin: 0 auto;
    margin-top: 2em;
  }

  .mdl-card__supporting-text {
    overflow: hidden;

    width: 100%;
    margin: auto;
    margin-bottom: 1.2em;
    padding: 6px 16px;

    color: #000;
    background-color: #eee;

    font-size: .8em;
    font-style: italic;
    line-height: 18px;
  }

  .mdl-button--icon {
    width: 20px;
    min-width: 20px;
    height: 20px;
  }

  .material-icons {
    font-size: 15px;
  }

  button {
    background-color: rgba(188, 0, 0, .43);
  }
}

.picker--opened .picker__frame {
  top: 10%;
}
