.mdl-navigation__link {
  font-size: 17px;
}

.mdl-card {
  margin: 0 auto;

  text-align: center;
}

.mdl-card__supporting-text {
  font-size: 16px;
}

.mdl-card__title-text {
  margin: 0 auto;
}

.mdl-button--fab.add-button--small {
  display: none;

  width: 20px;
  min-width: 20px;
  height: 20px;

  font-size: 15px;
}

.picker--opened .picker__frame {
  top: 10%;
}
