//= require material_icons
//= require tooltipster
//= require pickadate/classic
//= require pickadate/classic.date
//= require vex.css
//= require vex-theme-flat-attack

// Overriding default MDL colors
@import 'material-design-lite/src/_color-definitions';

$color-primary: $palette-blue-grey-500;
$color-primary-dark: $palette-blue-grey-100;
$color-accent: $palette-blue-500;

@import 'material-design-lite/src/material-design-lite';
@import 'include/overrides';
@import 'include/custom';
@import 'include/calendar';
